<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "015770882587" %></p>
<p><%= number_to_currency "1500" %></p>
<p><%= number_with_delimiter "124588966644" %></p>